*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-size: calc(10px + 2vmin);
    background: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-form {
    margin: auto;
    margin-top: 5em;
    background: white;
    width: 25%;
    border-radius: 10px;
    @media screen and (max-width: 2000px) {
        width: 30%; 
    }
    @media screen and (max-width: 1600px) {
        width: 40%; 
        margin-top: 3.5em;
    }
    @media screen and (max-width: 1000px) {
        width: 55%; 
        margin-top: 2.5em;
    }
    @media screen and (max-width: 700px) {
        width: 70%; 
    }
        
   
}
//select everything except h2
.formulaire {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8em;
    
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}


@mixin flexDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 0.3em;
    width: 80%
}
    


.username {
@include flexDiv;
}

.email {
    @include flexDiv;
}

.password {
    @include flexDiv;
}


.confirm {
    @include flexDiv;
}

.btn {
width: 80%;
}

label {

}

input {
    height: 4em;
    text-indent: 1em;
    background: lightgray;
}

::placeholder {
    font-size: 1.5em;
    @media screen and (max-width: 700px) {
        font-size: 1em;
    }
}

button {
    height: 2em;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1em;
    background: rgb(255, 187, 0);
    border: none;
    border-radius: 10px;
    &:hover {
        background: rgb(255, 215, 0)
    }
}


// ajouts JS

.errorTxt {
    color: red;
    font-size: 0.6em;
    margin-top: 0.5em;
    font-style: italic;
}
.errorInput {
    border: 1px solid red;
    color: red;
}

.successTxt {
    color: green;
    font-size: 0.6em;
    margin-top: 0.5em;
    font-style: italic;
}
.successInput {
    border: 1px solid green;
    color: green;
}

// JS vérification longueur mot de passe
.strength {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1em;
}
.mdpStrength {
    font-size: 0.7em;
    width: 33%;
    margin-bottom: 1em;
}

