*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
  background: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-form {
  margin: auto;
  margin-top: 5em;
  background: white;
  width: 25%;
  border-radius: 10px;
}

.formulaire {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8em;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  gap: 0.3em;
  width: 80%;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  gap: 0.3em;
  width: 80%;
}

.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  gap: 0.3em;
  width: 80%;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  gap: 0.3em;
  width: 80%;
}

.btn {
  width: 80%;
}

input {
  height: 4em;
  text-indent: 1em;
  background: lightgray;
}

::-webkit-input-placeholder {
  font-size: 1.5em;
}

:-ms-input-placeholder {
  font-size: 1.5em;
}

::-ms-input-placeholder {
  font-size: 1.5em;
}

::placeholder {
  font-size: 1.5em;
}

button {
  height: 2em;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 1em;
  font-size: 1em;
  background: #ffbb00;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: gold;
}

.errorTxt {
  color: red;
  font-size: 0.6em;
  margin-top: 0.5em;
  font-style: italic;
}

.errorInput {
  border: 1px solid red;
  color: red;
}

.successTxt {
  color: green;
  font-size: 0.6em;
  margin-top: 0.5em;
  font-style: italic;
}

.successInput {
  border: 1px solid green;
  color: green;
}
/*# sourceMappingURL=stylet.css.map */