@font-face {
  font-family: 'pocket_monkregular';
  src: url("/fonts/pocketmonk-15ze-webfont.woff2") format("woff2"), url("/fonts/pocketmonk-15ze-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #3a3939;
  color: white;
  font-size: calc(2vmin + 5px);
  width: 100vw;
  height: 100vh;
  font-family: 'pocket_monkregular';
  overflow-x: hidden;
}

h1 {
  padding: 0.6em;
  font-size: 2em;
  text-align: center;
  color: #3b5da7;
}

.search-bar {
  padding: 2em;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  font-size: 1em;
  width: 25vw;
  height: 2em;
  font-family: 'pocket_monkregular';
  text-align: center;
  background: #5a5a5a;
}

@media screen and (max-width: 1200px) {
  input {
    width: 40vw;
  }
}

input::-webkit-input-placeholder {
  color: #ffcc01;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input:-ms-input-placeholder {
  color: #ffcc01;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input::-ms-input-placeholder {
  color: #ffcc01;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input::placeholder {
  color: #ffcc01;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus {
  background: #b89d30;
  color: #3b5da7;
}

.socle-bouton {
  width: 10vw;
}

button {
  margin-left: 1em;
  font-size: 1em;
  width: 10vw;
  height: 2em;
  background: #ffcc01;
  border: none;
  font-family: 'pocket_monkregular';
  border-radius: 10px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

button:hover {
  background: #3b5da7;
  width: 8vw;
  color: white;
}

@media screen and (max-width: 1200px) {
  button:hover {
    width: 13vw;
  }
}

@media screen and (max-width: 700px) {
  button:hover {
    width: 15vw;
  }
}

@media screen and (max-width: 1200px) {
  button {
    width: 20vw;
  }
}

.grid-pokedex {
  width: 70%;
  margin: auto;
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

@media screen and (max-width: 700px) {
  .grid-pokedex {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border: 2px white ridge;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
}

@media screen and (max-width: 700px) {
  .card {
    height: 10em;
  }
}

h4 {
  font-weight: 500;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.id {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.frenchName {
  color: #ffcc01;
  text-shadow: #3b5da7 1px 5px 10px;
}

.chargement {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3a3939;
  -webkit-transition: visibility 1.2s ease-out;
  transition: visibility 1.2s ease-out;
}

.chargement img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.disparition {
  visibility: hidden;
}
/*# sourceMappingURL=stylet.css.map */