*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    width: 100%;
    height: 100%;
    font-size: calc(2vmin + 5px);
    
}

.presentation {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    @media screen and (max-width: 1000px) {
        margin-top: 2.5em;
    }
    img {
       @media screen and (max-width: 1400px) {
           width: 3em;
       }
       @media screen and (max-width: 500px) {
           width: 2em;
       }
    }
}

h1 {
    font-size: 3.5em;
    @media screen and (max-width: 1400px) {
        font-size: 2em;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.5em;
    }
    }


input {
    width: 60%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    @media screen and (max-width: 1000px) {
        width: 80%;
        height: 3em;
    }
    
}


.input-line {
    display: flex;
    flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 0.5em;
   margin-top: 3em;
}

button {
    width: 10%;
    height: 1.5em;
    font-size: 1em;
    @media screen and (max-width: 1000px) {
        width: 20%;
        margin-top: 1em;
        height: 2.5em;
        
    }
}
.button-line {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

//tout ce qui vient de JS

.nom-bold {
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(68, 32, 32);
}

.info-cookie {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
    text-align: center;
    @media screen and (max-width: 1000px) {
        font-size: calc(3.5vmin + 5px);
    }
}

.liste-cookie {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6em;
    margin-top: 4em;
    margin-left: 2em;
    @media screen and (max-width: 1000px) {
        font-size: calc(3.5vmin + 5px);
    }
}
