*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#c9d6ff), to(#e2e2e2));
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  width: 100%;
  height: 100%;
  font-size: calc(2vmin + 5px);
}

.presentation {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

@media screen and (max-width: 1000px) {
  .presentation {
    margin-top: 2.5em;
  }
}

@media screen and (max-width: 1400px) {
  .presentation img {
    width: 3em;
  }
}

@media screen and (max-width: 500px) {
  .presentation img {
    width: 2em;
  }
}

h1 {
  font-size: 3.5em;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }
}

input {
  width: 60%;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  input {
    width: 80%;
    height: 3em;
  }
}

.input-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  margin-top: 3em;
}

button {
  width: 10%;
  height: 1.5em;
  font-size: 1em;
}

@media screen and (max-width: 1000px) {
  button {
    width: 20%;
    margin-top: 1em;
    height: 2.5em;
  }
}

.button-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin-top: 1em;
}

.nom-bold {
  font-weight: bold;
  font-size: 1.3em;
  color: #442020;
}

.info-cookie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin-top: 2em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .info-cookie {
    font-size: calc(3.5vmin + 5px);
  }
}

.liste-cookie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.6em;
  margin-top: 4em;
  margin-left: 2em;
}

@media screen and (max-width: 1000px) {
  .liste-cookie {
    font-size: calc(3.5vmin + 5px);
  }
}
/*# sourceMappingURL=stylet.css.map */