@font-face {
    font-family: Roboto-Regular;
    src: url(/Roboto-Regular.ttf);
}

@mixin caseCentrage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
    border: 2px ridge brown;
    border-radius: 10%;
}


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, sandybrown, rgb(107, 89, 73));
    font-size: calc(2vmin + 5px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

.container {
    width: 90%;
    margin: auto;
    height: 100vh;
    @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0;
    }
        
    }


.top-pannel {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 25%;
    margin-bottom: 2em;
    @media screen and (max-width: 900px) {
        flex-flow: column;
    }
        
    }
  


.title {
    width: 30%;
    font-size: 2em;
    height: 100%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    @media screen and (max-width:900px) {
        margin-top: 0.3em;
        font-size: 1em;
        width: 100%;
        height: 30%;
        border: 5px solid black;
    }
        
    }



.title-text {
    text-align: center;
}

.weatherPannel {
    padding-left: 10%;
    display: flex;
    width: 70%;
    align-items: center;
    gap: 10%;
    @media screen and (max-width: 900px) {
        flex-flow: row;
        justify-content: space-around;
       height: 100%;
        width: 100%;
        padding-left: 0;
        gap: 0;
        font-size: 0.5em;
       
    }
        
    }


.old {
    font-family: fantasy;
    font-size: 2em;
    color: white;
    margin-top: 3%;
    max-height: 30vh;
}

.weatherIcon {
    @media screen and (max-width: 900px) {
        width: 100%;
        display: flex;
        justify-content: center;
       
       
      
        img {
            width: 20vw;
        }
        
    }
        
    }
        
    

.weatherCurrentData {
    @media screen and (max-width: 900px) {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

     
        
        
    }
        
    }
        
  

.weather-details-pannel {
    display: flex;
    height: 30%;
    @media screen and (max-width: 1600px) {
        height: 15%;
        margin-bottom: 3em;
    }
    @media screen and (max-width: 900px) {
        height: 50%;
        margin-bottom: 3em;
        flex-flow: column;
    }
        
    }
        
    


.windDirection {
    
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 900px) {
        width: 100%;
        height: 70%;
 
    }
        
    


.windDirection img {
    width: 13vw;
    @media screen and (max-width: 900px) {
        width: 25vw;
    }
        
    }
        
    }


.tableau-details {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 900px) {
        margin-top: 2em;
        flex-flow: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
        
    }



.intro {
    text-decoration: underline;
}

.wind {

    @include caseCentrage;
}

.uvi {
    @include caseCentrage;
}

.clouds {
    @include caseCentrage;
    background: white;
}

.humidity {
    @include caseCentrage;
    background: white;
}

.tempFeeling {
    @include caseCentrage;
    background: white;
}

.media-externes {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row;
    margin-bottom: 3%;
    @media screen and (max-width: 1600px) {
        flex-flow: column;
        margin-top: 4em;
        margin-bottom: 2em;
        gap: 5em;
    }
        
    }



.vignette {
    width: 40%;
    @media screen and (max-width: 1600px) {
        order: 2;
        width: 100%;
        margin-bottom: 10em;
    }
        
    }


.vignette1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   
        
    
        
    }


.boutons {
    margin-top: 2%;
    height: 10%;
    width: 25%;
    display: flex;
    flex-flow: row;
    gap: 5%;
}

button {
    width: 100%;
    z-index: 3;
    border: 3px solid transparent;
    border-radius: 50%;
    background: 
    linear-gradient(rgb(58, 82, 94), white) padding-box,
    linear-gradient(rgb(165, 42, 138), sandybrown) border-box;
}

.btn {}

.btn2 {}

.modale {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 35vw;
    top: 40vh;
    width: 300px;
    height: 300px;
    @media screen and (max-width: 1600px) {
        left: 25vw;
        top: 30vh;
    }
    @media screen and (max-width: 900px) {
        left: 5vw;
        top: 45vh;
        
    }
        
    }
        
    
        
    
      
    



.webcam {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    @media screen and (max-width: 1600px) {
        width: 100%;
        order: 1;
    }
        
    }



.grid-prevision-h {
    
    display: flex;
    width: 80%;
    margin: auto;
    height: 10%;
    @media screen and (max-width: 1600px) {
        flex-flow: column;
        height: 100%;
        width: 100%;
        gap: 5%;
        margin-top: 30em;
    }
        
    }
        
    
    
    


.grid-prevision-d {
    display: flex;
    width: 80%;
    margin: auto;
    height: 10%;
    margin-top: 1%;
    @media screen and (max-width: 1600px) {
        margin-top: 3em;
    }
        
    }
        
    



.h {
    border: 0.5px solid white;
    font-size: 1em;
    width: 100%;
    height: 100%;
    position: relative;
}

.d {
    @extend .h
}

@for $i from 1 to 9 {
    .h#{$i} {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }
}

@for $j from 1 to 9 {
    .d#{$j} {

        border: 1px solid white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

.addendum {
    color: pink;
}

.chargement {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 150%;
    background: linear-gradient(sandybrown);
    transition: visibility 1.5s ease-out;

    img {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
    }
}

.disparition {
    // opacity: 0;
    visibility: hidden;
}

.footer {
    margin-top: 3%;
}
.end {
    visibility: hidden;
}

.tooltip {
    z-index: 5;
    color: pink;
    font-size: 1em;
    position: absolute;
    top: -20vmin;
    background: grey;
    text-align: center;
    width: 17vw;
    
}

.video iframe {
    @media screen and (max-width: 900px) {
        width: 400px;   
        height: 310px;
    }
        
    }
   
    
