@font-face {
    font-family: Roboto-Regular;
    src: url(/Roboto-Regular.ttf);
}

@mixin caseDetails {
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    gap: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    
    
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
width: 100vw;
background: sandybrown;
font-size: calc(2vmin + 5px);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
user-select: none;
overflow-x: hidden;
@media screen and (max-width: 1500px) {
    font-size: calc(1.3vmin + 5px);
    
}

}

.container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
width: 90%;
height: 90%;
margin: auto;
margin-top: 2%;
border: 1px solid white;
background: linear-gradient(45deg, blue 20%, rgb(241, 108, 241) 60%, rgb(241, 177, 238) 100%);
@media screen and (max-width: 2200px) {
    
    width: 90%;
    height: 95%;
}
@media screen and (max-width: 900px) {
    margin-top: 10vmin;
    width: 80%;
    height: 80%;
}
}
.title {
    
    width: 100%;
    height: 100%;
    font-size: 2em;
    grid-column: 1 / span 10;
    text-align: center;
    display: grid;
    align-items: center;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    
}   

.weatherPannel {
    
    grid-column: 1 / span 8;
    display: flex;
    flex-flow: row nowrap;
    max-height: 40vh;
    justify-content: flex-end;
    align-items: center;
   
    
   

}
img {
    max-width: 20vw;
    @media screen and (max-width: 2200px) {
        max-width: 250px;
    }
    @media screen and (max-width: 1500px) {
        max-width: 200px;
    }
    @media screen and (max-width: 1100px) {
        max-width: 140px;
    }
}
.weatherIcon {
    
    max-height: 50vh;
    width: 35%;

}
.weatherCurrentData {
    
    max-height: 50vh;
    width: 25%;
}
.windDirection {
 
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 2em;
    color: white;
}
.old {
    font-family: fantasy;
    font-size: 2em;
    color: white;
    margin-top: 3%;
    max-height: 30vh;
}
.webcam {
    margin-left: 5px;
    grid-row: 3;
    grid-column: 6 / span 3;
}
video {

    @media screen and (max-width: 2300px) {
    max-width: 500px;
    height: 400px;
}
    @media screen and (max-width: 1700px) {
    max-width: 350px;
    height: 300px;
}
    @media screen and (max-width: 1200px) {
    max-width: 280px;
}

    
}
.vignette {
    grid-column: 9 / span 2;
   
    grid-row: 2 / span 2 ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    
}

button {
    
    z-index: 3;
    height: 40%;
    width: 80%;
   margin-left: auto;
    margin-right: auto;
   
}
.btn {
    grid-row: 4;
    grid-column: 9;
  

}
.btn2 {
    grid-row: 4;
    grid-column: 10;
    
   
}
.modale {
    visibility: hidden;
    position: absolute;
    left: -45vw;
    top: 0;
    width: 300px;
    height: 300px;
  
}

.intro {
    text-decoration: underline;
}

.wind {
    grid-column: 1;
    grid-row: 3;
  @include caseDetails();
}
.uvi {
    grid-column: 2;
    grid-row: 3;
    @include caseDetails();
   
}
.clouds {
    grid-column: 3;
    grid-row: 3;
    @include caseDetails();

   
    
}
.humidity {
    grid-column: 4;
    grid-row: 3;
    @include caseDetails();
   
}

.tempFeeling {
    grid-column: 5;
    grid-row: 3;
    @include caseDetails();
    
}


.h {
    grid-row: 4;
    border: 0.5px solid white;
    font-size: 1em;
    @media screen and (max-width: 1500px) {
        font-size: 0.7em;
    }
}

.d {
    grid-row: 5;
    @extend .h
}

@for $i from 1 to 9 {
    .h#{$i} {
 
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   
    }
}
@for $j from 1 to 9 {
    .d#{$j} {
  
   border: 1px solid white;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
    }
}

.addendum {
    color: pink;
}

.chargement {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
   background: linear-gradient(sandybrown);
   transition: visibility 1.5s ease-out;
   
    img {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.disparition {
    // opacity: 0;
    visibility: hidden;
}

.h1, .d1 {
    border: none;
}