*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
width: 100vw;
background: linear-gradient(50deg, rgb(59, 4, 4), rgb(39, 38, 38));
overflow: hidden;
font-size: calc(2vmin + 5px);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
width: 50%;
height: 60%;
margin: auto;
margin-top: 8%;
background: green;
}
.title {
    background: blue;
    width: 100%;
    height: 100%;
    font-size: 2em;
    grid-column: 1 / span 7;
    text-align: center;
    display: grid;
    align-items: center;
    
}   
.weatherPannel {
    background: yellow;
    grid-column: 1 / span 7;
    display: flex;
    flex-flow: row nowrap;
   max-height: 40vh;

}
img {
    max-width: 20vw;
}
.weatherIcon {
    
    background: red;
    max-height: 50vh;
    width: 50%;

}
.weatherCurrentData {
    background: violet;
    max-height: 50vh;
    width: 50%;
}
.old {
    font-family: fantasy;
    font-size: 2em;
    color: white;
    margin-top: 3%;
    max-height: 30vh;
}




.h {
    border: 1px solid yellow;
}

.d {
    border: 1px solid cyan;
}

@for $i from 1 to 8 {
    .h#{$i} {
   background: rgb(15*$i, 37, 37);
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   
    }
}
@for $j from 1 to 8 {
    .d#{$j} {
   background: rgb(15*$j, 10*$j, 100);
   border: 1px solid blueviolet;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
    }
}
