@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background: linear-gradient(violet, orange);
    background-attachment: fixed;
    overflow-x: hidden;
   
}
.container {
    font-size: calc(2vmin + 5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5vmin;
}

h1 {
    padding-top: 2vmin;
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 20px orange;
}
.box {
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    height: 10vmin;
    margin-top: 5%;
    padding: 5px;
    width: 40vw;
    height: 20vh;
    background: linear-gradient(rgba(65, 105, 225, 0.555), rgba(152, 12, 207, 0.507));
   
    
}
h2 {
    font-size: 0.8em;
    font-weight: 800;
    margin-bottom: 2vmin;
}
label {
    display: block;
    margin-top: 1vmin;
   
    
   
}
input[type=radio] { 
    border: 0px; 
    width: 10%; 
    height: 2vmin;
    transform: scale(1.3);
 }
 .btn-valid {
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    width: 30%;
     margin-top: 1.5em;
     height: 4%;
     font-size: 1em;
     background: linear-gradient(grey, royalblue );
     transition: background 0.6s ease-in-out;
     &:hover {
        background: lightblue;
     }
     
 }

.resultat {
   width: 50vw;
    height: 20vh;
    border: 2px solid black;
    margin-bottom: 1vmin;
    position: relative;
    box-shadow: 0px 0px 10px black;
    background: linear-gradient(150deg, rgba(26, 26, 104, 0.877), rgba(0, 225, 255, 0.534));
}
h3 {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    
}

.echec {
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0% {transform: translate(0px, 0px);};
    33% {transform: translate(5px, 0px);};
    66% {transform: translate(-5px, 0px);};
    100% {transform: translate(0px, 0px);};

}
